.image-slider img {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.6s ease-in-out;
}

.image-slider img.active {
  opacity: 1;
  filter: brightness(0.6);

}
